body {
  margin: 0;
  padding: 0;
  background: #cc2b5e;
  background: -webkit-linear-gradient(to right, #cc2b5e, #753a88);
  background: linear-gradient(to right, #cc2b5e, #753a88);
}

#root {
  max-width: 980px;
  margin: auto;
}

button {
  background: #ffffff;
  color: #cc2b5e;
  padding: 10px 30px;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:focus {
  box-shadow: 0px 1px 7px rgb(184, 47, 103)
}

header {
  background: white;
  padding: 10px;
  color: #753a88;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header h1 {
  margin: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

header .username {
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  border-right: 1px solid #753a88;
}

header .options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
}

.login-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.login-form h1 {
  color: #753a88;
}

.error-message {
  margin: 10px 0;
  font-size: 12px;
}

.text-input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #753a8845;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 2px;
}

.text-input:focus {
  color: #cc2b5e;
  box-shadow: 0px 1px 7px rgb(184, 47, 103)
}

.login-button {
  margin: 10px 0;
  background: #cc2b5e;
  color: #ffffff;
  padding: 12px;
}

.not-found {
  display: flex;
  height: 100vh;
}

.no-result {
  height: 50vh;
}

.not-found h1 {
  margin: auto;
  color: white;
}

.search-box {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 90px;
}

.search-text {
  width: calc(100% - 132px);
  padding: 10px;
  border-radius: 4px;
  outline: 0;
  border: 0;
  font-size: 14px;
}

.search-button {
  margin-left: 10px;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
}

.planet {
  margin: 10px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  width: 29%;
  position: relative;
  cursor: pointer;
}

.planet-title {
  padding: 10px;
  color: #cc2b5e;
  display: block;
  text-transform: uppercase;
}

.planet-population {
  background: #cc2b5e;
  border-radius: 4px;
  color: white;
  padding: 5px;
  font-size: 12px;
  margin-left: 10px;
  text-transform: uppercase;
  position: absolute;
  right: 5px;
  top: 5px;
  border-style: double;
}

.planet-details {
  display: flex;
  flex-wrap: wrap;
  color: #753a88;
  margin-top: 10px;
  position: relative;
}

.planet-detail {
  margin: 10px;
}

.planet-detail span {
  font-weight: bold;
}

.searched-for {
  font-size: 12px;
  margin: 10px;
  color: #ffffff;
}

.searched-for span {
  font-weight: 600;
}

.modal-view {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  background: white;
  width: 50%;
  max-height: 350px;
  border-radius: 5px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.modal .planet {
  width: auto;
  padding: 0;
  margin: 0;
}

.modal .planet-population {
  top: 15px;
}

.modal-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
}

.modal-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #cc2b5d;
  font-size: 18px;
  letter-spacing: 2px;
}

.modal-close {
  background: #ffffff;
  color: #cc2b5e;
  font-size: 15px;
  padding: 0;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid #cc2b5e;
}

.modal-content {
  padding: 15px;
}

@media screen and (max-width: 1200x) {
  .planet {
    width: 30%;
  }
}

@media screen and (max-width: 920px) {
  .planet {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .planet {
    width: 43%;
  }

  .modal {
    width: 80%;
  }
}

@media all and (max-width: 575px) {
  .login-form {
    width: 90%;
    height: 400px;
  }

  header .username {
    font-size: 16px;
  }

  .option-button {
    padding: 10px 15px;
  }

  .planet {
    width: 100%;
  }

  .modal {
    width: 96%;
  }
}

@media all and (max-width: 320px) {
  header h1 {
    margin: 10px;
  }
}